[Unit]
Description=Open vSwitch switch
Requires=network.target
After=network.target named.service remote-fs.target syslog.target

[Service]
Type=forking
Environment=FORCE_COREFILES=yes
Environment=OVSDB_SERVER_PRIORITY=-10
Environment=VSWITCHD_PRIORITY=-10
Environment=BRCOMPATD_PRIORITY=-10
Environment=VSWITCHD_MLOCKALL=yes
EnvironmentFile=-/etc/sysconfig/openvswitch
ExecStart=/usr/share/openvswitch/scripts/ovs-ctl start --system-id=random --force-corefiles=${FORCE_COREFILES} --ovsdb-server-priority=${OVSDB_SERVER_PRIORITY} --ovs-vswitchd-priority=${VSWITCHD_PRIORITY} --mlockall=${VSWITCHD_MLOCKALL} $OPENVSWITCH_OPTIONS
ExecStartPost=/usr/share/openvswitch/scripts/ovs-ctl --protocol=gre enable-protocol
ExecStop=/usr/share/openvswitch/scripts/ovs-ctl stop

[Install]
WantedBy=multi-user.target
